<html>
    <head>
        <title>
            Meu BLOG
        </title>
    </head>
    <body>
        <div>
            <h1><a href="/">BLOG</a></h1>
        </div>
        <div>
            <h1>Primeiramente</h1>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>publicado: 01.01.2024, 9:58</p>
            <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut congue est. Morbi egestas justo tempor mi laoreet posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus laoreet arcu risus, vitae porttitor urna vulputate quis. Fusce faucibus sapien lorem. Proin laoreet venenatis lorem id porttitor. Cras cursus nec mi in gravida. Suspendisse mi arcu, feugiat in nulla eu, fringilla aliquet quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sit amet nibh eu sapien placerat molestie. Mauris auctor vulputate tellus, ac pulvinar augue porta ac. Integer pulvinar quam augue, aliquet volutpat nunc fermentum ac. Pellentesque mattis odio in massa scelerisque, in auctor nisl aliquet. Duis eu rhoncus dui. Pellentesque mollis eget mauris vel lacinia. </em>
        </div>
        <div>
            <h1>Em segundo lugar</h1>
            <h2><a href="">Meu segundo post</a></h2>
            <p>publicado: 01.01.2024, 10:01</p>
            <em>Aliquam imperdiet, metus ac ultricies pellentesque, mauris mauris aliquam nibh, quis tincidunt odio magna sed massa. Quisque sodales quam non nulla tempor, at sagittis augue dictum. Integer iaculis sem eu finibus venenatis. Etiam ornare mattis sagittis. Morbi pellentesque nec erat a rutrum. Praesent vulputate mattis nisi ac viverra. Nunc condimentum sollicitudin quam, vel rhoncus ante aliquet eget. Nulla eget facilisis quam. Phasellus et ex leo. Curabitur rutrum quam ante, vitae fermentum orci posuere eu. Fusce rhoncus nisl ac tincidunt varius. Nulla blandit nec tellus vel porta. Integer tempor metus augue, quis vulputate diam luctus nec. Aenean euismod diam a lorem faucibus gravida. Pellentesque laoreet dui vel dolor tempor, eget convallis ipsum eleifend. Maecenas ac sagittis orci. </em>
        </div>
    </body>
</html>